  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
    <li><a href="/pokemon">Pokemon</a></li>
    <li><a href="/profiles">All Profiles</a></li>
      <li><a href="/profiles">Your Profile</a></li>
      <li><a class="nav" href="/auth/logout">
        Logout
      </a></li>
    <% } else { %>
      <li><a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a></li>
    <% } %>
  </nav>
